In [44]:
import pandas as pd
df = pd.read_csv('hello.csv')

In [3]:
from werkzeug.utils import secure_filename

In [20]:
num = 10
def calls():
    return num

calls()

10

In [21]:
def call():
    global num
    num = 20
    return num

In [22]:
call()

20

In [23]:
num

20

In [24]:
calls()

20

In [27]:
['bhu','bhuvan'] - {'bhu'}

{'bhuvan'}

In [30]:
x = ['bhu','bhuvan']
x

['bhu', 'bhuvan']

In [31]:
x.remove('bhu')

In [32]:
x

['bhuvan']

In [33]:
x = ['1','2','3','4','5']

In [34]:
x

['1', '2', '3', '4', '5']

In [38]:
x.remove('2')
x

['3', '4', '5']

In [39]:
x.pop(2)

'5'

In [40]:
x

['3', '4']

In [46]:
list(df.columns)

['Unnamed: 0',
 'budget',
 'genres',
 'id',
 'keywords',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title_x',
 'vote_average',
 'vote_count',
 'movie_id',
 'title_y',
 'cast',
 'crew',
 'directors']

In [98]:
import joblib

In [147]:
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import train_test_split
def LinearRegression_train(dataset,independent,dependent,size):
    model = LinearRegression()
    df = pd.read_csv(dataset)
    X = df.drop(list(set(df.columns) - set(independent)),axis = 1).values
    y = df[dependent]
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=size/100,random_state=10)
    model.fit(X_train,y_train)
    joblib.dump(model,'trained')
    return Done

In [52]:
data = pd.read_csv('house_price_mumbai.csv')
data.columns

Index(['BHK', 'project', 'Location', 'City', 'Total sqft', 'price_sqft',
       'price'],
      dtype='object')

In [53]:
data.isna().sum()

BHK             0
project       853
Location        0
City            0
Total sqft      0
price_sqft      0
price           0
dtype: int64

In [54]:
data.head()

,BHK,project,Location,City,Total sqft,price_sqft,price
0,3 BHK Apartment,SHREE KRISHNA SangamChembur,Chembur,Mumbai,984,"31,000",3.05 Cr
1,2 BHK Apartment,Ekdanta 24 KaratKurla,Kurla,Mumbai,598,"23,913",1.42 Cr
2,2 BHK Apartment,Liberty Bay VueMalad West,Malad West,Mumbai,738,"21,000",1.54 Cr
3,3 BHK Apartment,Thalia Vrindavan FloraRasayani,Rasayani,Mumbai,644,"10,676",68.75 L
4,2 BHK Apartment,Mayfair The ViewVikhroli,Vikhroli,Mumbai,582,"24,914",1.45 Cr

In [61]:
list(set(data.columns) - {'BHK','Location','Total sqft','price_sqft'})

['price', 'project', 'City']

In [118]:
new = data.drop(list(set(data.columns) - set(['Total sqft','price_sqft'])),axis = 1)
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3980 entries, 0 to 3979
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Total sqft  3980 non-null   int64
 1   price_sqft  3980 non-null   object
dtypes: int64(1), object(1)
memory usage: 62.3+ KB

In [129]:
new['price_sqft'] = new['price_sqft'].astype(int)
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3980 entries, 0 to 3979
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Total sqft  3980 non-null   int64
 1   price_sqft  3980 non-null   int32
dtypes: int32(1), int64(1)
memory usage: 46.8 KB

In [121]:
new['price_sqft'].iloc[0]

'31,000'

In [123]:
'31,000'.split(',')[0]

'31'

In [142]:
def call(num):
    return num.split(' ')[0]

call('3.05 Cr')

'3.05'

In [143]:
new['price'] = new['price'].apply(call)
new.head()
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3980 entries, 0 to 3979
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Total sqft  3980 non-null   int64
 1   price_sqft  3980 non-null   int32
 2   price       3980 non-null   object
dtypes: int32(1), int64(1), object(1)
memory usage: 77.9+ KB

In [133]:
new.to_csv('new.csv')

In [141]:
new['price'].iloc[0]

'3.05 Cr'

In [145]:
new.head()
new['price'] = new['price'].astype(float)

In [149]:
dep = 'price'
new[dep]

0        3.05
1        1.42
2        1.54
3       68.75
4        1.45
        ...
3975    48.00
3976    26.00
3977    34.00
3978    32.00
3979    36.00
Name: price, Length: 3980, dtype: float64

In [150]:
da = 'new.csv'
pd.read_csv(da)

      Unnamed: 0  Total sqft  price_sqft
0              0         984          31
1              1         598          23
2              2         738          21
3              3         644          10
4              4         582          24
...          ...         ...         ...
3975        3975         966           4
3976        3976         500           5
3977        3977         610           5
3978        3978         610           5
3979        3979         590           6

[3980 rows x 3 columns]

In [151]:
data.head()

,BHK,project,Location,City,Total sqft,price_sqft,price
0,3 BHK Apartment,SHREE KRISHNA SangamChembur,Chembur,Mumbai,984,"31,000",3.05 Cr
1,2 BHK Apartment,Ekdanta 24 KaratKurla,Kurla,Mumbai,598,"23,913",1.42 Cr
2,2 BHK Apartment,Liberty Bay VueMalad West,Malad West,Mumbai,738,"21,000",1.54 Cr
3,3 BHK Apartment,Thalia Vrindavan FloraRasayani,Rasayani,Mumbai,644,"10,676",68.75 L
4,2 BHK Apartment,Mayfair The ViewVikhroli,Vikhroli,Mumbai,582,"24,914",1.45 Cr

In [209]:
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,r2_score,mean_squared_error
def LinearRegression_train(dataset,independent,dependent,size):
    model = LinearRegression()
    df = pd.read_csv(dataset)
    X = df.drop(list(set(df.columns) - set(independent)),axis = 1).values
    y = df[dependent]
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=size/100,random_state=10)
    model.fit(X_train,y_train)
    joblib.dump(model,'trained')
    y_pred = model.predict(X_test)
    accuracy = r2_score(y_test,y_pred)
    return accuracy

In [210]:
LinearRegression_train('new.csv',['Total sqft','price_sqft'],'price',20)

0.8947493373264325

In [154]:
new['price'] = data['price']
new['price']

0       3.05 Cr
1       1.42 Cr
2       1.54 Cr
3       68.75 L
4       1.45 Cr
         ...
3975       48 L
3976       26 L
3977       34 L
3978       32 L
3979       36 L
Name: price, Length: 3980, dtype: object

In [156]:
# new['price'] = new['price'].apply(call)
new['price'] = new['price'].astype(float)
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3980 entries, 0 to 3979
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Total sqft  3980 non-null   int64
 1   price_sqft  3980 non-null   int32
 2   price       3980 non-null   float64
dtypes: float64(1), int32(1), int64(1)
memory usage: 77.9 KB

In [158]:
def call(dataset,independent,dependent,size):
    model = LinearRegression()
    df = pd.read_csv(dataset)
    return df.columns

In [162]:
call('new.csv',['Total sqft','price_sqft'],'price',20)

Index(['Unnamed: 0', 'Total sqft', 'price_sqft', 'price'], dtype='object')

In [160]:
new.columns

Index(['Total sqft', 'price_sqft', 'price'], dtype='object')

In [161]:
new.to_csv('new.csv')

In [173]:
model = joblib.load('trained')
model

RandomForestRegressor()

In [174]:
model.predict([[1000,31]])

array([3.0874])

In [219]:
from sklearn.tree import DecisionTreeRegressor,DecisionTreeClassifier
from sklearn.svm import SVR,SVC
def SupportVectorRegressor_train(dataset,independent,dependent,size):
    model = SVR()
    df = pd.read_csv(dataset)
    X = df.drop(list(set(df.columns) - set(independent)),axis = 1).values
    y = df[dependent]
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=size/100,random_state=10)
    model.fit(X_train,y_train)
    joblib.dump(model,'trained')
    y_pred = model.predict(X_test)
    accuracy = r2_score(y_test,y_pred)
    return accuracy

In [220]:
LinearRegression_train('new.csv',['Total sqft','price_sqft'],'price',20)

-0.03820909860309407

In [221]:
model = joblib.load('trained')
model

SVR()

In [228]:
from sklearn.datasets import load_diabetes
df = pd.DataFrame(load_diabetes().data,columns=load_diabetes().feature_names)
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

In [225]:
dir(load_diabetes())

['DESCR',
 'data',
 'data_filename',
 'data_module',
 'feature_names',
 'frame',
 'target',
 'target_filename']

In [230]:
df['final'] = load_diabetes().target

In [231]:
df.columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6', 'final'], dtype='object')

In [232]:
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,final
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

In [233]:
df.to_csv('diabetes.csv')

In [234]:
df['final'].value_counts()

200.0    6
72.0     6
90.0     5
178.0    5
71.0     5
        ..
73.0     1
222.0    1
86.0     1
79.0     1
57.0     1
Name: final, Length: 214, dtype: int64

In [235]:
from sklearn.datasets import load_iris
data = pd.DataFrame(load_iris().data,columns=load_iris().feature_names)

In [236]:
data.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [239]:
data['target'] = load_iris().target
data.head()
data.to_csv('iris.csv')

In [256]:
from sklearn.ensemble import RandomForestClassifier
def SupportVectorClassifier_train(dataset,independent,dependent,size):
    model = SVC()
    df = pd.read_csv(dataset)
    X = df.drop(list(set(df.columns) - set(independent)),axis = 1).values
    y = df[dependent]
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=size/100,random_state=10)
    model.fit(X_train,y_train)
    joblib.dump(model,'trained-support-vector-classifier')
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test,y_pred)
    return accuracy

In [257]:
DecisionTreeClassifier_train('iris.csv',['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)','petal width (cm)'],'target',20)

0.9666666666666667

In [258]:
model = joblib.load('trained')
model

SVC()

In [259]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [260]:
model.predict([[5.3,3.9,0.4,0.9]])

array([0], dtype=int64)

In [266]:
from sklearn.neighbors import KNeighborsClassifier
def KNeighborsClassifier_train(dataset,independent,dependent,size):
    model = KNeighborsClassifier(n_neighbors=10)
    df = pd.read_csv(dataset)
    X = df.drop(list(set(df.columns) - set(independent)),axis = 1).values
    y = df[dependent]
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=size/100,random_state=10)
    model.fit(X_train,y_train)
    joblib.dump(model,'trained-kneignbors-classifier')
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test,y_pred)
    return accuracy

In [267]:
KNeighborsClassifier_train('iris.csv',['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)','petal width (cm)'],'target',20)

1.0

In [268]:
model = joblib.load('trained-support-vector-classifier')
model

KNeighborsClassifier(n_neighbors=10)

In [269]:
model.predict([[5.3,3.9,0.4,0.9]])

array([0], dtype=int64)

In [271]:
df = pd.DataFrame(load_iris().data)
df['target'] = load_iris().target
df.head()

     0    1    2    3  target
0  5.1  3.5  1.4  0.2       0
1  4.9  3.0  1.4  0.2       0
2  4.7  3.2  1.3  0.2       0
3  4.6  3.1  1.5  0.2       0
4  5.0  3.6  1.4  0.2       0

In [272]:
df.to_csv('iris.csv')

In [273]:
model

KNeighborsClassifier(n_neighbors=10)

In [274]:
joblib.dump(model,'allam')

['allam']

In [275]:
model = joblib.load('allam')
model

KNeighborsClassifier(n_neighbors=10)

In [276]:
from sklearn.datasets import load_diabetes
df = pd.DataFrame(load_diabetes().data)
df['target'] = load_diabetes().target

In [277]:
df.head()

,0,1,2,3,4,5,6,7,8,9,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

In [278]:
load_diabetes().feature_names

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [279]:
df.to_csv('diabetes.csv')

In [ ]:
load

In [280]:
from sklearn.datasets import load_breast_cancer
df = pd.DataFrame(load_breast_cancer().data)
df['target'] = load_breast_cancer().target

In [281]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,target
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0

In [282]:
df['target'].value_counts()

1    357
0    212
Name: target, dtype: int64

In [283]:
df.to_csv('cancer.csv')

In [289]:
from sklearn.datasets import load_boston
df = pd.DataFrame(load_boston().data,columns=load_boston().feature_names)
df['target'] = load_boston().target
df.head()

C:\Users\bhuva\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)
C:\Users\bhuva\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [288]:
load_boston().feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [290]:
df.to_csv('boston.csv')

In [292]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [294]:
model = joblib.load('RandomForestRegressor')
model

RandomForestRegressor(n_estimators=10)

In [299]:
model.predict([df.iloc[0][:-1].values])

array([25.04])

In [308]:
model.score(df.iloc[:,:-1],df.iloc[:,-1])

C:\Users\bhuva\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

0.9412351287579735

In [306]:
df.iloc[:,:-1]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [3]:
import pandas as pd
from sklearn.datasets import load_iris
df = pd.DataFrame(load_iris().data,columns = load_iris().feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [4]:
df.to_csv('iris_main.csv')

In [5]:
df['target'] = load_iris().target
df.to_csv('iris_main.csv')

In [7]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [9]:
df.iloc[:,[0,1,2]].head()

   sepal length (cm)  sepal width (cm)  petal length (cm)
0                5.1               3.5                1.4
1                4.9               3.0                1.4
2                4.7               3.2                1.3
3                4.6               3.1                1.5
4                5.0               3.6                1.4

In [13]:
col = list(df.columns)
col

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)',
 'target']

In [23]:
dic = {}
for i,j in enumerate(col):
    dic[j] = i
    
dic

{'sepal length (cm)': 0,
 'sepal width (cm)': 1,
 'petal length (cm)': 2,
 'petal width (cm)': 3,
 'target': 4}

In [25]:
dic['sepal length (cm)']

0

In [29]:
"-".join('sepal length (cm)'.split(' '))

'sepal-length-(cm)'

In [30]:
'sepal-length-(cm)'.replace("-", " ")

'sepal length (cm)'

In [31]:
'sepal length (cm)'.replace(" ","-")

'sepal-length-(cm)'

In [34]:
col = list(df.columns)
col

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)',
 'target']

In [35]:
[i.replace(' ','_') for i in col]

['sepal_length_(cm)',
 'sepal_width_(cm)',
 'petal_length_(cm)',
 'petal_width_(cm)',
 'target']